# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================
carbon/

# =========================
# Environment variables
# =========================
.env

# =========================
# Database files
# =========================
*.db

# =========================
# Vector DB / embeddings
# =========================
app/rag/vectorstore/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE (optional)
# =========================
.vscode/
.idea/
